<div class="container">
  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-4">

      <div class="card" style="height: 350px;">
        <div class="card-body">
          <h2 class="card-title" id="show-title"><%= @task.title %></h2>
          <h3 class="card-title" id="show-title">$<%= @task.price %></h3>
          <p id="show-description"><%= @task.category %></p>
          <p id="show-description"><%= @task.location %></p>

          <% if @task.user == current_user %>
            <% if @task.offers.empty? %>
              <%= link_to "Edit task", edit_task_path(@task), class: "btn btn-primary" %>
              <%= link_to task_path(@task), method: :delete, data: { confirm: "Delete this task?" } do %>
                <i class='far fa-trash-alt'></i>
              <% end %>
            <% else %>
              <p>You have <%= pluralize @task.offers.count, "offer" %> for this task</p>
              <p>View offers in <%= link_to "Dashboard", dashboard_path %> </p>
            <% end %>
          <% else %>
            <% if @task.offers.count > 0 %>
              <% @task.offers.each do |offer| %>
                <% if offer.user == current_user %>
                  <p>You made an offer to complete this task</p>
                  <% break %>
                <% else %>
                  <%= simple_form_for [@task, @offer] do |f| %>
                    <%= f.button :submit, 'Make an Offer!', { class: "btn btn-primary" } %>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <%= simple_form_for [@task, @offer] do |f| %>
                <%= f.button :submit, 'Make an Offer!', { class: "btn btn-primary" } %>
            <% end %>
          <% end %>
          <% end %>
        </div>
      </div>

    </div>
    <div class='col-6 card-img-big-holder' style="height: 350px;">

      <% if @task.photo.attached? %>
                <div class="card-img-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @task.photo.key, height: 300, width: 400, crop: :fill %>')" >
                </div>
            <% else %>
                <div>
                  <img class='card-img-big' src="https://images.unsplash.com/3/doctype-hi-res.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1046&q=80" alt="">
                </div>
            <% end %>

    </div>
  </div>
  <div class="row mt-4 mb-5 d-flex justify-content-center align-items-center">
    <div class="card col-10 p-5" style="height: 350px;">
      <h2 class="card-title" id="show-title">Details</h2>
      <p id="show-description"><%= @task.description %></p>
    </div>
  </div>
</div>

<!-- This is a loop to create the cards for each task -->
<!-- <div class="col-4">
  <div class="card sticky-top" style="height: 50vh;">
    <div class="card-body d-flex flex-column align-items-center">
      <div class="row d-flex flex-column justify-content-center mt-2">
      <h5 class="card-title"><%= @task.description.capitalize %></h5>
      <p class="card-text"><%= @task.description.capitalize %></p>
      <a href="#" class="btn btn-sm btn-primary">Make an offer</a>
    </div>
  </div>
</div>
</div>
 -->


