
<div class="container">
  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-4">

      <div class="card" style="height: 350px;">
        <div class="card-body">
          <h2 class="card-title"><%= @task.title %></h2>
          <h3 class="card-title">$<%= @task.price %></h3>
          <p>This is some placeholder text to show a longer task description for Task # <%= @task.id %>.</p>


          <%= simple_form_for [@task, @offer] do |f| %>
            <%= f.button :submit, 'Make an Offer!', { class: "btn btn-primary" } %>
          <% end %>

        </div>
      </div>

    </div>
    <div class='col-6 card-img-big-holder' style="height: 350px;">
      <img class='card-img-big' src="https://images.unsplash.com/3/doctype-hi-res.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1046&q=80" alt="">
    </div>
  </div>
  <div class="row mt-4 mb-5 d-flex justify-content-center align-items-center">
    <div class="card col-10 p-5" style="height: 350px;">
      <h2 class="card-title">Details</h2>
      <p class="card-title"><%= (@task.description + "  " ) * 5 %></p>
    </div>
  </div>
</div>

<!-- This is a loop to create the cards for each task -->
<!-- <div class="col-4">
  <div class="card sticky-top" style="height: 50vh;">
    <div class="card-body d-flex flex-column align-items-center">
      <div class="row d-flex flex-column justify-content-center mt-2">
      <h5 class="card-title"><%= @task.description.capitalize %></h5>
      <p class="card-text"><%= @task.description.capitalize %></p>
      <a href="#" class="btn btn-sm btn-primary">Make an offer</a>
    </div>
  </div>
</div>
</div>
 -->


