<div class="content">
  <!-- Nav pills -->
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#tasks">My Tasks</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#offers">My Offers</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" id="outer-card">
    <!-- My tasks -->
    <div id="tasks" class="container tab-pane active">
      <!-- My task tabs -->
      <div class="nav nav-tabs" id="sub-tabs" role="tablist">
        <ul class="nav nav-pills" role="tablist" id="inner-tabs">
          <li class="nav-item" class="inner-tab">
            <a class="nav-link active" data-toggle="pill" href="#pending-task">Pending</a>
          </li>
          <li class="nav-item" class="inner-tab">
            <a class="nav-link" data-toggle="pill" href="#active-task">Active</a>
          </li>
          <li class="nav-item" class="inner-tab">
            <a class="nav-link" data-toggle="pill" href="#completed-task">Completed</a>
          </li>
        </ul>
      </div>

      <!-- My task content -->
      <div class="tab-content" id="inner-card">
        <div id="pending-task" class="container tab-pane active"><%= render 'pages/dashboard/tasks-pending' %></div>
        <div id="active-task" class="container tab-pane fade"><%= render 'pages/dashboard/tasks-active' %></div>
        <div id="completed-task" class="container tab-pane fade"><%= render 'pages/dashboard/tasks-completed' %></div>
      </div>
    </div>

    <!-- My offers -->
    <div id="offers" class="container tab-pane fade">
      <!-- My offer tabs -->
      <div class="nav nav-tabs" id="sub-tabs" role="tablist">
        <ul class="nav nav-pills" role="tablist" id="inner-tabs">
          <li class="nav-item" class="inner-tab">
            <a class="nav-link active" data-toggle="pill" href="#pending-offer">Pending</a>
          </li>
          <li class="nav-item" class="inner-tab">
            <a class="nav-link" data-toggle="pill" href="#active-offer">Active</a>
          </li>
          <li class="nav-item" class="inner-tab">
            <a class="nav-link" data-toggle="pill" href="#completed-offer">Completed</a>
          </li>
          <li class="nav-item" class="inner-tab">
            <a class="nav-link" data-toggle="pill" href="#declined-offer">Declined</a>
          </li>
        </ul>
      </div>
      <div class="tab-content" id="inner-card">
        <div id="pending-offer" class="container tab-pane active"><%= render 'pages/dashboard/offers-pending' %></div>
        <div id="active-offer" class="container tab-pane fade"><%= render 'pages/dashboard/offers-active' %></div>
        <div id="completed-offer" class="container tab-pane fade"><%= render 'pages/dashboard/offers-completed' %></div>
        <div id="declined-offer" class="container tab-pane fade"><%= render 'pages/dashboard/offers-declined' %></div>
      </div>

    </div>

  <!-- End of first tab-content div -->
  </div>
<!-- End of content div -->
</div>

