<div class="home-banner">
  <div class="welcome-card">
    <div id="welcome-header">Get help with your tasks, or help others with theirs</div>
    <!-- <div id="welcome-message">Get help from our community for tasks you can't manage on your own.</div> -->
    <div id="welcome-btns">
      <% if user_signed_in? %>
        <%= link_to "Visit your dashboard!", dashboard_path, class: "btn" %>
      <% else %>
        <%= link_to "Sign up now!", new_user_registration_path, class: "btn" %>
        <%#= link_to "Login", new_user_session_path, class: "btn" %>
      <% end %>
    </div>
  </div>
    <%#= image_tag "tanuki_icon.svg", alt: "alttext", id: 'welcome-tanuki' %>
</div>


<!-- This is a loop to create the cards for each task -->
<div class="my-5" id="welcome-others"><h1>See what others are doing</h1></div>
<div class="container">
  <div class="col-12 d-flex flex-wrap justify-content-around">
    <% @tasks[0..11].each do |task| %>
      <%= link_to task_path(task), class: "text-decoration-none" do %>
      <%= '<div class="card mb-4" style="width: 14rem;">'.html_safe %>
        <div>
          <img class='card-img-top' src="https://images.unsplash.com/3/doctype-hi-res.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1046&q=80" alt="">
        </div>

        <%= '<div class="card-body">'.html_safe %>
          <h5 class="card-title" style="text-decoration: none;"> <%= task.title %> </h5>
          <p class="card-text"> <%= task.description[0..50] %>... </p>
        <%= '</div>'.html_safe %>
      <%= '</div>'.html_safe %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="footer">
  <p>Here is the footer</p>
</div>
