<div class="home-banner">
  <div id="welcome-logos">
    <%= image_tag "words_logo_outline.svg", alt: "Tast Tanuki", id: "welcome-words" %>
  </div>
  <div class="welcome-card">
    <div id="welcome-header">Get help with your tasks, or help others with theirs</div>
    <!-- <div id="welcome-message">Get help from our community for tasks you can't manage on your own.</div> -->
    <div id="welcome-btns">
      <% if user_signed_in? %>
        <%= link_to "Get started", dashboard_path, class: "btn" %>
      <% else %>
        <%= link_to "Sign up now", new_user_registration_path, class: "btn" %>
        <%#= link_to "Login", new_user_session_path, class: "btn" %>
      <% end %>
    </div>
  </div>
</div>


<!-- This is a loop to create the cards for each task -->
<div class="my-5" id="welcome-others"><h1>See what others are doing</h1></div>
<div class="container">
  <div class="col-12 d-flex flex-wrap justify-content-around">
    <% @tasks.each do |task| %>
      <%= link_to task_path(task), class: "text-decoration-none" do %>
      <%= '<div class="card mb-4" id="home-card" style="width: 14rem;">'.html_safe %>

         <% if task.photo.attached? %>
                <div class="card-img-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path task.photo.key, width: 222, height: 150, crop: :thumb %>')" alt="">
                </div>
            <% else %>
                <div>
                  <img class='card-img-top' src="https://images.unsplash.com/3/doctype-hi-res.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1046&q=80" alt="">
                </div>
            <% end %>

        <%= '<div class="card-body">'.html_safe %>
          <h5 class="card-title" style="text-decoration: none;"> <%= task.title %> </h5>
          <p class="card-text"> <%= task.description[0..50] %>... </p>
        <%= '</div>'.html_safe %>
      <%= '</div>'.html_safe %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="footer">
  <%= image_tag "words_logo.svg", alt: "alttext", id: 'footer-tanuki' %>
</div>
