<% counter = 0 %>
<% @tasks.each do |task| %>
  <% task.offers.each do |offer| %>
    <% if offer.status == "active" %>
      <% counter +=1 %>
      <%= '<div class="task-holder">'.html_safe %>
        <%= link_to task_path(task), class: "text-decoration-none" do %>
          <div class="task-name" style="text-decoration: none;"><i class="fas fa-chevron-circle-right" id="chevron"></i><%= task.title %></div>
        <% end %>
        <%= '<div class="users-holder">'.html_safe %>
          <%= '<i class="fas fa-caret-right"></i>&nbsp&nbsp'.html_safe %>
          <%= offer.user.email %> is working on it!
          <%= link_to '<i class="fas fa-check"></i>'.html_safe, mark_complete_path(offer), method: :patch, id:"complete"%>
        <%= '</div>'.html_safe %>
      <%= '</div>'.html_safe %>
    <% end %>
  <% end %>
<% end %>

<% if counter == 0 %>
  <%= '<div class="task-holder">'.html_safe %>
    <%= '<div class="users-holder">'.html_safe %>
      <%= '<div class="user-name"><em>There are no active tasks.</em></div>'.html_safe %>
    <%= '</div>'.html_safe %>
  <%= '</div>'.html_safe %>
<% end %>
